@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url("http://themes.googleusercontent.com/static/fonts/oswald/v7/-g5pDUSRgvxvOl5u-a_WHw.woff") format('woff');
}
@font-face {
  font-family: 'iconos';
  src: url("/fonts/fontawesome.eot");
  src: url("/fonts/fontawesome.eot?#iefix") format('embedded-opentype');
  src: url("/fonts/fontawesome.woff") format('woff');
  src: url("/fonts/fontawesome.ttf") format('truetype');
  src: url("/fonts/fontawesome.svg#fontawesome") format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  vertical-align: top;
}
a {
  color: #f00;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  background: #dc1428;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #000;
  font: 0 Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 1000px;
}
footer {
  background: #fffffa;
  border-top: 4px solid #dc1428;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 16px;
  padding: 8px;
  position: relative;
  text-align: justify;
  vertical-align: top;
  width: 100%;
}
footer #licence {
  float: left;
  margin-right: 5px;
}
h1 {
  font-size: 32px;
  margin: 0;
  padding: 5.5px;
  text-align: center;
}
h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}
header {
  background: #fffffa;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0.25em;
  width: 100%;
}
img {
  max-width: 100%;
}
nav {
  background: #fffffa;
  width: 100%;
}
nav ul {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
nav ul li {
  display: inline-block;
  font-size: 16px;
  width: 50%;
}
nav ul li a {
  display: block;
  padding: 5px 25px;
  text-align: center;
  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
nav ul li a:hover {
  background: #dc1428;
  color: #ffd700;
  text-decoration: none;
}
section {
  background: #fffffa;
  width: 100%;
}
section h2 {
  border: 4px solid #dc1428;
  border-left: none;
  border-right: none;
  font-size: 24px;
  margin: 0;
  padding: 8px;
  text-align: center;
}
#cambioDiseno {
  display: none;
  position: absolute;
  right: 8px;
  top: 16px;
}
#cont_pagina h3 {
  margin: 0;
  padding: 8px;
}
#cont_pagina p {
  margin: 0;
  padding: 8px;
}
#disqus_thread {
  display: none;
  margin: 5px;
}
#error {
  background: #dc1428;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
  display: inline-block;
  margin: 0.5%;
  padding: 4px;
  text-align: center;
  width: 99%;
}
#error h3 {
  font-size: 32px;
}
#github {
  bottom: 4px;
  color: #000;
  font-family: iconos;
  font-size: 20px;
  position: absolute;
  right: 4px;
}
#github:before {
  content: "\f113";
}
#pagina {
  text-align: justify;
}
#proyectos {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 0;
  position: relative;
}
#riasimagen {
  bottom: 0;
  display: none;
  position: fixed;
  right: 0;
}
.alt_anime {
  display: none;
}
.anime {
  background: #dc1428;
  border: 1px solid #dc1428;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
  display: inline-block;
  margin: 0.5%;
  position: relative;
  width: 99%;
}
.anime:hover .alt_anime {
  display: block;
}
.anime:hover .mini_anime {
  display: none;
}
.autor_blog {
  color: #dc1428;
  font-size: 12px;
  margin: 0;
  padding: 5px 10px;
}
.capitulo_anime {
  background: #dc1428;
  border-radius: 0 8px 8px 0;
  color: #ffd700;
  display: block;
  font-size: 20px;
  left: 0;
  padding: 4px;
  position: absolute;
  top: 8px;
}
.capitulos_proyecto {
  border-radius: 0 20px 0 0;
  bottom: 0;
  left: 0;
  padding: 5px 15px 5px 5px !important;
}
.capitulos_proyecto,
.estado_proyecto {
  background: #dc1428;
  color: #ffd700;
  font-size: 16px;
  padding: 4px;
  position: absolute;
}
.descargas_anime {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  font-size: 0;
  text-align: center;
  width: 100%;
}
.descargas_anime a {
  color: #ffd700;
  display: inline-block;
  font-size: 16px;
  margin: 0 8px;
  width: 16px;
}
.descargas_anime a img {
  height: auto;
}
.descargas_anime b {
  font-size: 16px;
  display: block;
  padding: 8px;
}
.entrada_blog {
  display: inline-block;
  font-size: 16px;
  margin: 0.5%;
  position: relative;
  width: 99%;
}
.entrada_blog p {
  margin: 0;
  padding: 5px;
  text-align: justify;
}
.estado_proyecto {
  border-radius: 0 0 0 20px;
  padding: 5px 10px;
  right: 0;
  top: 0;
}
.imagen_anime {
  width: 100%;
}
.leer_blog {
  background: #dc1428;
  bottom: 0;
  color: #ffd700;
  font-size: 12.8px;
  padding: 5px;
  position: absolute;
  right: 0;
}
.mini_anime {
  display: block;
}
.nombre_proyecto {
  background: #dc1428;
  border-radius: 0 0 24px 0;
  color: #ffd700;
  font-size: 16px;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding: 5px 15px 5px 5px;
  position: absolute;
  text-align: center;
  top: 0;
}
.proyecto {
  display: inline-block;
  font-size: 16px;
  margin: 0.5%;
  position: relative;
  -webkit-transition: 0.75s all ease-in-out 0.25s;
  width: 99%;
}
.portada_proyecto {
  max-width: 100%;
  z-index: 1;
}
.titulo_anime {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  font-size: 16px;
  margin: 0;
  padding: 4px 8px;
  text-align: center;
}
.titulo_blog {
  border-bottom: 1px solid #dc1428;
  font-size: 20px;
  margin: 0;
  padding: 5px;
}
.ver_proyecto {
  background: #dc1428;
  border-radius: 20px 0 0 0;
  bottom: 0;
  color: #ffd700;
  font-size: 18px;
  margin: 0;
  padding: 4px 8px;
  position: absolute;
  right: 0;
  text-align: center;
}
.ver_proyecto:hover {
  background: #ffd700;
  color: #dc1428;
  text-decoration: none;
}
#foro table {
  width: 100%;
}
#foro table tr {
  border-bottom: 1px solid #dc1428;
  width: 100%;
}
#foro table tr:nth-of-type(odd) {
  background: #ffd700;
  color: #dc1428;
}
#foro table tr:nth-of-type(odd) a {
  color: #dc1428;
}
#foro table tr .autor {
  border-left: 1px solid #dc1428;
  padding: 5px;
  text-align: center;
  width: 12.5%;
}
#foro table tr .fecha {
  border-left: 1px solid #dc1428;
  padding: 5px;
  text-align: center;
  width: 12.5%;
}
#foro table tr .titulo {
  padding: 5px;
  width: 75%;
}
#foro #post {
  border-bottom: 1px solid #dc1428;
  padding: 5px;
  width: 990px;
}
#foro #post header {
  border-bottom: 1px solid #dc1428;
  margin: 0;
  padding: 5px;
  width: 990px;
}
#foro #post p {
  margin: 0;
  padding: 15px;
}
#foro .respuesta {
  border-bottom: 1px solid #dc1428;
  margin: 10px;
  width: 980px;
}
#foro .respuesta header {
  border-bottom: 1px solid #dc1428;
  margin: 0;
  padding: 5px;
  width: 980px;
}
#foro .respuesta p {
  margin: 0;
  padding: 10px;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: #ffd700;
  -webkit-border-radius: 0;
  border-radius: 0;
}
::-webkit-scrollbar-track-piece {
  background-color: #dc1428;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #ffd700;
  -webkit-box-shadow: inset 0 0 6px #fffffa;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #ffd700;
}
@media screen and (min-width: 640px) {
  header {
    display: inline-block;
    width: 40%;
  }
  nav {
    display: inline-block;
    width: 60%;
  }
  #cambioDiseno {
    display: block;
  }
  #cambioDiseno a:hover {
    text-decoration: none;
  }
  #grilla-33 {
    font-family: 'iconos';
    font-size: 0;
    height: 16px;
    padding: 4px;
    width: 16px;
  }
  #grilla-50,
  #lista {
    font-family: 'iconos';
    font-size: 28px;
    height: 16px;
    padding: 4px;
    width: 16px;
  }
  #grilla-33:before {
    content: "\f00a";
  }
  #grilla-50:before {
    content: "\f009";
  }
  #disqus_thread {
    display: block;
  }
  #lista:before {
    content: "\f00b";
  }
  .descargas_anime {
    display: inline-block;
    width: 50%;
  }
  .grilla-50 {
    width: 49%;
  }
  .imagen_anime {
    float: left;
    width: 50%;
  }
  .lista {
    background: #dc1428;
    width: 99%;
  }
  .lista .capitulos_proyecto {
    left: 26%;
    padding: 0 !important;
    top: 72px;
  }
  .lista .estado_proyecto {
    left: 26%;
    padding: 0;
    top: 51px;
  }
  .lista .estado_proyecto:before {
    content: 'Estado del proyecto: ';
  }
  .lista .nombre_proyecto {
    font-size: 24px;
    left: 26%;
    padding: 0;
    top: 5px;
  }
  .lista .portada_proyecto {
    width: 25%;
  }
  .lista .ver_proyecto {
    background: #fffffa;
    color: #dc1428;
  }
  .lista .ver_proyecto:after {
    content: ' capítulos';
  }
  .lista .ver_proyecto:hover {
    text-decoration: underline;
  }
  .titulo_anime {
    display: inline-block;
    width: 50%;
  }
}
@media screen and (min-width: 728px) {
  #grilla-33 {
    font-size: 28px;
  }
  .grilla-33 {
    width: 32.33333%;
  }
  .anime {
    width: 49%;
  }
}
@media screen and (min-width: 1300px) {
  #riasimagen {
    display: block;
  }
}
@media screen and (max-width: 320px) {
  * {
    display: none;
  }
}
